* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  
    background-color: cornsilk;
}

img { max-width: 100%;}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 20px;
    line-height: 3.1em;
    letter-spacing: .5em;
    text-transform: capitalize;
}

nav ul{
    list-style: none;
   text-align: right;
   letter-spacing: 1em;
   line-height: 3.1em;
    
}

nav li {
    display: inline-table;
    text-align: right;
    
}

nav a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    letter-spacing: .2em;
    text-transform: none;
    line-height: 3.1em;
    color:coral;
}


h2 {
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: coral;
}

p {
  position: relative;
  width: 400px;
  height: 400px;
}



  .image-card {
    position: relative;
    width: 400px;
    height: 400px;
  }
  
  .image-card:hover .image-title {
    opacity: 1;
  }
  
  .image-title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    position: absolute;
    background: rgba(241, 169, 169, 0.867);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    
    display: grid;
    place-items: center;
    transition: all .25s;
  }
  
 

  .grid-container {
    display: grid;
    background: white;
    
    grid-template-columns: repeat(6 100px);
    grid-template-rows: repeat(6 100px);
  }
  
  .gallery {
    display: grid;
    grid-template-columns: 6fr 6fr 6fr;
    gap: .2em;
  }
  
  .gallery img {
    width: 100%;
  }
  
  .two-across , .three-across{
    text-align: center;
    flex-grow: 1;
    flex-basis: 50%;
    padding: 1em;
}
 
  
  @media (max-width: 768px) {
    #wrap {
      width: 80%;
      max-width: 1000px;
      margin: 0 auto;
    }

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    nav ul {
      display: flex;
      flex-direction: space-between;
      align-items: center;
      gap: 1em;
    }

      nav li {
       flex-grow: 1;
   }


   .grid {
        display:flex;
        flex-wrap: wrap;
   }
  
    .gallery {
      grid-template-columns: 6fr;
    }

    

}
  