body {
    background-image: url(https://web.archive.org/web/20090904014850/http://geocities.com/jeuxjacinthe/recocont2.html);


    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(237,128,39,1) 100%); }


img {
    margin: 0em;
    max-width: 10rem;
}

