* {margin: 0; padding: 0; box-sizing: border-box;}

body {
    background: #222;
    color: #eee;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    
}

.bar {
    width: 40px;
    height: 100px;
    background: lightgreen;
    margin: 1em 0;

    animation: expand 2s infinite alternate;
}

.a {animation-delay: 0;}
.b {animation-delay: .5s;}


@keyframes expand {
   0% {
       transform: scale(0, 1);
   } 
   100% {
       transform: scale(10, 0);
   }
}

@keyframes expand {
    0% {
        transform: scale(0, 1);
    } 
    100% {
        transform: scale(10, 1);
    }
 }